

body {
  margin: 0;
 }

main{
  border-radius:  0;
  box-shadow: none;
}

h1{
 margin-top: 20px;
 margin-bottom: 20px;

} 

h5{
  margin-top: 0;
  margin-bottom: 0;
}

header{
  padding-top: 1px;
  padding-bottom: 1px;
   background-color: black;
 color: white;
}


a:link,
a:visited,
a:hover,
a:active {
  color: light-dark(#333,white);
}

article {
  padding: 20px;
  
  margin: 20px;
  word-wrap: break-word ;
  /* border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19); */
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.flex-container {
  display: flex;
}

.flex-container>div {
  flex: 50%;
}

.right {
  text-align: right;
  float: right;
}


@media (max-width:850px) {
  h1 {font-size :8vw }
}