body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;

}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 10px;
}

main {
  margin: 20px auto;
  padding: 0 20px;
  margin-bottom: 150px;
}

footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #333;
}

article {
  padding: 20px;
  background-color: white;
  margin: 20px;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-container>div {
  flex: 50%;
}

.right {
  text-align: right;
  float: right;
}

.article-header {
  margin-top: 0;
}

